.left-block {
  display: flex;
  flex-direction: column;
  width: 15%;
}
.product {
  width: 75%;
}
.width {
  width: 100%;
}
.marg-pad {
  margin: 0 0 1rem;
  padding: 10px;
}
.width-auto {
  width: auto;
}
